In [1]:
from os import listdir
import os

In [2]:
import os

chemin = r"A:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Mes_programmes_python_these\ANALYSE_DONNEES8THESE\traitementdedonnees\Speeches"
if os.path.exists(chemin):
    noms_fichiers = os.listdir(chemin)
else:
    print("Le chemin d’accès spécifié est introuvable")

In [3]:
len(noms_fichiers)

35

In [4]:
import pandas as pd
df = pd.DataFrame(index=range(len(noms_fichiers)), columns=['nom_du_fichier','contenue'])

In [5]:
for i,f_num in enumerate(noms_fichiers):
    f = open("Speeches/"+f_num,"r",encoding="utf-8")
    f_content = f.readlines()
    f.close()
    
    df.at[i,"nom_du_fichier"]= f_num
    df.at[i,"contenue"] = f_content[0]

In [6]:
df.head()

,nom_du_fichier,contenue
0,BattleCreekDec19_2019.txt,Thank you. Thank you. Thank you to Vice Presid...
1,BemidjiSep18_2020.txt,There's a lot of people. That's great. Thank y...
2,CharlestonFeb28_2020.txt,Thank you. Thank you. Thank you. All I can say...
3,CharlotteMar2_2020.txt,"I want to thank you very much. North Carolina,..."
4,CincinnatiAug1_2019.txt,Thank you all. Thank you very much. Thank you ...

In [7]:
def separateurville(v):
    ville = ""
    mois = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Oct','Sep','Nov','Dec'] 
    for m in mois:
        if m in v:
            ville = v[:v.find(m)]
        
    return ville

In [8]:
df['Villes'] = df.nom_du_fichier.apply(separateurville)
df.head()

,nom_du_fichier,contenue,Villes
0,BattleCreekDec19_2019.txt,Thank you. Thank you. Thank you to Vice Presid...,BattleCreek
1,BemidjiSep18_2020.txt,There's a lot of people. That's great. Thank y...,Bemidji
2,CharlestonFeb28_2020.txt,Thank you. Thank you. Thank you. All I can say...,Charleston
3,CharlotteMar2_2020.txt,"I want to thank you very much. North Carolina,...",Charlotte
4,CincinnatiAug1_2019.txt,Thank you all. Thank you very much. Thank you ...,Cincinnati

In [9]:
def separateurdate(c):
    date = c.nom_du_fichier[len(c.Villes):c.nom_du_fichier.find(".txt")]
    return date

In [10]:
df["Date"] = df.apply(separateurdate,axis=1)
df.head()

,nom_du_fichier,contenue,Villes,Date
0,BattleCreekDec19_2019.txt,Thank you. Thank you. Thank you to Vice Presid...,BattleCreek,Dec19_2019
1,BemidjiSep18_2020.txt,There's a lot of people. That's great. Thank y...,Bemidji,Sep18_2020
2,CharlestonFeb28_2020.txt,Thank you. Thank you. Thank you. All I can say...,Charleston,Feb28_2020
3,CharlotteMar2_2020.txt,"I want to thank you very much. North Carolina,...",Charlotte,Mar2_2020
4,CincinnatiAug1_2019.txt,Thank you all. Thank you very much. Thank you ...,Cincinnati,Aug1_2019

In [11]:
df['Date'] = pd.to_datetime(df['Date'],format="%b%d_%Y")
df.dtypes

nom_du_fichier            object
contenue                  object
Villes                    object
Date              datetime64[ns]
dtype: object

In [12]:
df.head()

,nom_du_fichier,contenue,Villes,Date
0,BattleCreekDec19_2019.txt,Thank you. Thank you. Thank you to Vice Presid...,BattleCreek,2019-12-19
1,BemidjiSep18_2020.txt,There's a lot of people. That's great. Thank y...,Bemidji,2020-09-18
2,CharlestonFeb28_2020.txt,Thank you. Thank you. Thank you. All I can say...,Charleston,2020-02-28
3,CharlotteMar2_2020.txt,"I want to thank you very much. North Carolina,...",Charlotte,2020-03-02
4,CincinnatiAug1_2019.txt,Thank you all. Thank you very much. Thank you ...,Cincinnati,2019-08-01

In [13]:
df.drop('nom_du_fichier',axis=1,inplace=True)

In [22]:
df.head()

                                            contenue       Villes       Date
0  Thank you. Thank you. Thank you to Vice Presid...  BattleCreek 2019-12-19
1  There's a lot of people. That's great. Thank y...      Bemidji 2020-09-18
2  Thank you. Thank you. Thank you. All I can say...   Charleston 2020-02-28
3  I want to thank you very much. North Carolina,...    Charlotte 2020-03-02
4  Thank you all. Thank you very much. Thank you ...   Cincinnati 2019-08-01