In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [2]:
fichier_excel = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\02février2019\01022019V.xlsx"
donnees = pd.read_excel(fichier_excel,sheet_name=None) # lecture du fichier avec tous les feuilles selon (sheet_name= None)

In [3]:
donnees.keys()

dict_keys(['Rapport', 'Centrales', 'Demande', 'Délestage', 'P Inst', 'Energie', 'Pdel', 'Pdispo', 'Clients HT', 'liens', 'Reseau', 'Feuil1'])

In [4]:
dossier = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\02février2019"

# liste des fichiers contenus dans le dossier du mois de janvier avec elimination des extentions non conformes
fichiers_excel1 = [f for f in os.listdir(dossier) if f.endswith(".xlsx") and not f.startswith("~$")]

In [5]:
len(fichiers_excel1)

28

In [6]:
# innitialisation pour conpter le nombres de fichiers qui ont les meme feuilles et ceux qui sont differents
vraie, faux = 0, 0

# inintiasation de listes qui contiennent les chemins des differents fichiers
listvraie,lisfaux = [],[] 


for classeur in fichiers_excel1:
    
    
    chemin_complet = os.path.join(dossier, classeur) # pour avoir le chemin complet
    
    
    if pd.read_excel(chemin_complet,sheet_name=None).keys() == donnees.keys(): # comparaison des cles
        
       #print(f"Ok pour ce classeur {classeur}") # affichage du dossier
       
       vraie +=1 # iteration
       
       listvraie.append(classeur) # ajouter dans la liste
    else:
        #print(f'Ce classseur {classeur} a des feuilles differentes ') # affichages du dossier
        
        lisfaux.append(classeur) # ajout dans le liste
        
        faux +=1 #itteration

print(f'le nombres de fichiers ok {vraie}')

print(f'le nombres de fichiers defecteux {faux}')

le nombres de fichiers ok 7
le nombres de fichiers defecteux 21

In [7]:
def nettoyage_demande(dossier,fichiers_excel1,cellule):
    liste_demande = []
    for fichier in fichiers_excel1:
        
        chemin_complet = os.path.join(dossier, fichier) # pour avoir le chemin complet
        
        classeur = pd.read_excel(chemin_complet,sheet_name=None)
        
        for feuilles in classeur.keys():
            
            if feuilles == cellule: #'Demande':
        
                Demande = classeur[feuilles]

                Demande.columns  = classeur[feuilles].iloc[1]

                Demande = Demande[2:].reset_index(drop=True)[:27]

                Demande = Demande.loc[:,list(Demande.columns[:5])]
                liste_demande.append(Demande)
        Demande_2019 = pd.concat(liste_demande,axis=0)
    return Demande_2019 

Demande_fevrier = nettoyage_demande(dossier,fichiers_excel1,'Demande')
Demande_fevrier.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande       Fréq
0   1 h      647.95                0  376.478697  50.262001
1   2 h      647.95                0  350.901584  50.077999
2   3 h      647.95                0  333.840517     50.305
3   4 h      647.95                0    334.9833  50.266998
4   5 h      647.95                0  332.890104  50.467999

### Demande janvier

In [24]:
dossier_javier = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\01janvier2019"

fichiers_jenvier = [f for f in os.listdir(dossier_javier) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_janvier = nettoyage_demande(dossier_javier,fichiers_jenvier,'Demande')
Demande_janvier.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h  636.930263                0  430.407707  50.109
1   2 h  636.930263                0  406.129563  49.939
2   3 h  636.930263                0  372.603857  50.281
3   4 h  636.930263                0     356.614  50.365
4   5 h  636.930263                0  352.424888  50.199

### Demande Mars

In [9]:
dossier_mars =r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\03Mars2019"

# liste des fichiers contenus dans le dossier du mois de janvier avec elimination des extentions non conformes
fichiers_mars = [f for f in os.listdir(dossier_mars) if f.endswith(".xlsx") and not f.startswith("~$")]

In [10]:
Demande_mars = nettoyage_demande(dossier_mars,fichiers_mars,'Demande')
Demande_mars.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h       619.5                0  396.492017  50.276
1   2 h       627.5                0  376.851914  50.063
2   3 h       627.5                0  369.873939    50.3
3   4 h       627.5                0  353.896146  50.015
4   5 h       627.5                0  348.651486  50.093

In [11]:
Demande_mars.shape

(837, 5)

### Demande avril

In [12]:
dossier_avril = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\04Avril2019"
fichiers_avril = [f for f in os.listdir(dossier_avril) if f.endswith(".xlsx") and not f.startswith("~$")]

In [13]:
Demande_avril = nettoyage_demande(dossier_avril,fichiers_avril,'Demande')
Demande_avril.head()

c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h         659                0  392.113924  50.068
1   2 h         659                0  369.827068  50.057
2   3 h         659                0  360.753414  49.744
3   4 h         659                0  353.588939  49.959
4   5 h         659                0  351.175032  50.275

In [14]:
Demande_avril.shape

(837, 5)

### MAI

In [15]:
dossier_mai =r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\05Mai2019"
fichier_mai = [f for f in os.listdir(dossier_mai) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_main = nettoyage_demande(dossier_mai,fichier_mai,'Demande')
Demande_main.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h      683.85                0  452.960862  50.334
1   2 h      683.85                0  423.242202  50.095
2   3 h      683.85                0  418.424125  50.161
3   4 h      683.85                0  402.445156  50.146
4   5 h      683.85                0  384.891857  50.246

### JUIN

In [23]:
dossier_juin = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\juin2019"
fichier_juin = [f for f in os.listdir(dossier_juin) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_juin  = nettoyage_demande(dossier_juin,fichier_juin,'Demande')
Demande_juin.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h       660.1                0  551.900233  50.247
1   2 h       660.1                0  489.089707  50.253
2   3 h       660.1                0  475.938084  50.023
3   4 h       660.1                0  454.557022  50.279
4   5 h       660.1                0  464.045764   50.18

### JUILLET

In [22]:
dossier_juillet = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\07Juillet2019"
fichier_juillet = [f for f in os.listdir(dossier_juillet) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_juillet  = nettoyage_demande(dossier_juillet,fichier_juillet,'Demande')
Demande_juillet.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande Fréq
0   1 h      548.75               32  523.614048  NaN
1   2 h      548.75               25  514.837357  NaN
2   3 h      494.75               25  486.436434  NaN
3   4 h      494.75               20  474.046527  NaN
4   5 h      502.35               20  468.360785  NaN

### Demande Aout

In [17]:
dossier_aout = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\08Aout2019"
fichier_aout = [f for f in os.listdir(dossier_aout) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_aout  = nettoyage_demande(dossier_aout,fichier_aout,'Demande')
Demande_aout.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande       Fréq
0   1 h       584.2             41.3  590.895707  49.585999
1   2 h       579.2               40  566.966316  49.535999
2   3 h       584.2             41.3  554.669218      49.68
3   4 h       584.2             40.1  533.107073  49.852001
4   5 h       554.2             12.5  510.359517  49.681999

### Demande septembre

In [18]:
dossier_septembre = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\09Septembre2019"
fichier_septembre = [f for f in os.listdir(dossier_septembre) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_septembre  = nettoyage_demande(dossier_septembre,fichier_septembre,'Demande')
Demande_septembre.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h       604.4               20  551.396854  49.986
1   2 h       604.4               18  528.499511  49.996
2   3 h       604.4                0   483.41004  50.101
3   4 h       604.4                0  493.230155  50.021
4   5 h       597.4                0  492.980341  50.073

### Demande Octombre

In [19]:
dossier_octombre = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\10Octobre2019"
fichier_octombre = [f for f in os.listdir(dossier_octombre) if f.endswith(".xlsx") and not f.startswith("~$")]

Demande_octombre  = nettoyage_demande(dossier_octombre,fichier_octombre,'Demande')
Demande_octombre.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h       598.2               15  609.467994   50.07
1   2 h       598.2                0  583.558994  50.036
2   3 h       591.2                0  567.302994   50.09
3   4 h       591.2                0  546.693994  50.077
4   5 h       591.2                0  532.682994   50.24

### Demande novembre

In [20]:
dossier_novembre = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\11Novembre2019"
fichier_novembre = [f for f in os.listdir(dossier_novembre) if f.endswith(".xlsx") and not f.startswith("~$")]


Demande_novembre  = nettoyage_demande(dossier_novembre,fichier_novembre,'Demande')
Demande_novembre.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande   Fréq
0   1 h       697.4                0  596.197243  49.83
1   2 h       697.4                0  566.061254  50.37
2   3 h       697.4                0  545.560646  50.16
3   4 h       697.4                0  528.771558  50.18
4   5 h       697.4                0   516.46663  50.12

### Demande decembre

In [21]:
dossier_decembre = r"F:\Mes_Documents_de_these\DOCUMENTS_RECHERCHE\DOCUMENTS_DE_REPPORTS\Datasets_theses\Rapports2019\12Decembre2019"
fichier_decembre = [f for f in os.listdir(dossier_decembre) if f.endswith(".xlsx") and not f.startswith("~$")]



Demande_decembre  = nettoyage_demande(dossier_decembre,fichier_decembre,'Demande')
Demande_decembre.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h       741.8                0  453.195996  50.066
1   2 h       741.4                0   437.86447  50.068
2   3 h       746.5                0  431.009316  50.308
3   4 h      744.77                0  416.478146  50.196
4   5 h       743.2                0    403.2933  50.259

In [29]:
liste_demande = [Demande_janvier,Demande_fevrier,Demande_mars,Demande_avril,Demande_main,Demande_juin,Demande_juillet,
                Demande_aout,Demande_septembre,Demande_octombre,Demande_novembre,Demande_decembre]

Demande_2019 = pd.concat(liste_demande,axis=0)

In [27]:
liste_demande[0]

1     Heure Puis. Dispo Puis TAG couplée     Demande       Fréq
0       1 h      647.95                0  376.478697  50.262001
1       2 h      647.95                0  350.901584  50.077999
2       3 h      647.95                0  333.840517     50.305
3       4 h      647.95                0    334.9833  50.266998
4       5 h      647.95                0  332.890104  50.467999
..      ...         ...              ...         ...        ...
22     21 h       597.5                0  505.543033      50.17
23  21 h 30       597.5                0  503.287276     50.069
24     22 h       597.5                0  498.096767     50.106
25     23 h       597.5                0  478.354631      50.41
26     24 h      622.11                0  430.319981     50.276

[756 rows x 5 columns]

In [30]:
Demande_2019.head()

1 Heure Puis. Dispo Puis TAG couplée     Demande    Fréq
0   1 h  636.930263                0  430.407707  50.109
1   2 h  636.930263                0  406.129563  49.939
2   3 h  636.930263                0  372.603857  50.281
3   4 h  636.930263                0     356.614  50.365
4   5 h  636.930263                0  352.424888  50.199

In [31]:
Demande_2019.to_excel('Demande_2019.xlsx', index=False)

In [32]:
Demande_2019.shape

(9774, 5)